.cart-page {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
}

.empty {
  font-size: 20px;
  color: #777;
  margin-top: 20px;
}

.cart-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-item {
  display: flex;
  gap: 25px;
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.08);
  align-items: flex-start;
}

.cart-img {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
}

.cart-details {
  flex: 1;
}

.cart-details h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.qty-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  color: #c2185b;
}

.remove-btn {
  border: 1px solid #ff1744;
  color: #ff1744;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  background: white;
  transition: 0.3s;
}

.remove-btn:hover {
  background: #ff1744;
  color: white;
}

/* Total Box */
.cart-total-box {
  margin-top: 40px;
  padding: 25px;
  background: #fff6fa;
  border-radius: 18px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.08);
  text-align: center;
}

.cart-total-box h2 {
  font-size: 28px;
}

.total-price {
  font-size: 32px;
  color: #c2185b;
  margin: 10px 0 20px;
  font-weight: bold;
}

/* Place Order Button */
.placeorder-btn {
  padding: 12px 30px;
  background: #c2185b;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.placeorder-btn:hover {
  background: #9c154a;
}
