.custom-container {
  width: 60%;
  margin: auto;
  background: #fff7fb;
  padding: 30px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 15px rgba(255, 0, 128, 0.1);
}

.custom-container h1 {
  text-align: center;
  color: #ff2d92;
}

.section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid #ffe4f0;
}

.flower-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.addon {
  display: block;
  padding: 6px 0;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  color: #d10067;
}

.add-btn {
  width: 100%;
  padding: 14px;
  background: #ff2d92;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.add-btn:hover {
  background: #e10074;
}
