.login-container {
  width: 380px;
  margin: 120px auto;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.login-container h2 {
  color: #e91e63;
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #c2185b;
}
